

.tc-stadd-container{
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
	font-weight: bold;

	.tc-stadd-form-box{
		display: flex;
		justify-content: space-between;

		.tc-stadd-form-name{
			width: 48%;

			p{
				font-weight: bold;
				margin-bottom: 3px;
			}

			input{
				width: 100%;
			}
			span{
				font-size: 0.7rem;
			}
		}
	}

	.tc-stadd-form-mainbox{
		margin-top: 20px;

		p{
			margin-bottom: 3px;
		}


		input{
			width: 100%;
		}
	}

	.tc-stadd-form-threebox{
		margin-top: 20px;

		p{
			margin-bottom: 3px;
		}

		.three-form{
			display: flex;
			justify-content: space-between;
			div{
				width: 30%;
			}
		}
	}

	.tc-stadd-form-btn{
		text-align: center;

		button{
			margin-top: 20px;
			width: 50%;
		}
	}

}


.st-transfer{
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;

	.st-top-lesson-container{
		width: 100%;

		.st-top-lesson-title{
			margin-top: 5px;
		}

		button{
			display: block;
			margin: 10px auto 0px;
			width: 30%;
			letter-spacing: 1.5px;
		}
	}
}

.st-top-lesson{
	margin-bottom: 100px;
}
