/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: #E9FBFC;
  margin-top: 70px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

select:invalid {
  color: blanchedalmond;
}

.font-error {
  color: crimson;
  font-weight: bold;
}

.header-top {
  height: 70px;
  background-color: #23ACE4;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(118, 118, 118, 0.439);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.admin-header-top {
  height: 70px;
  background-color: #004361;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.439);
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  width: 95%;
  margin: 0 auto;
  color: white;
}
.header .header-container {
  font-family: "Fredoka One", cursive;
  position: absolute;
  top: 20px;
  float: left;
}
.header .header-container .header-logo {
  font-size: 2rem;
  text-shadow: 1px 1px 3px #3d3d3d;
  letter-spacing: 0.5px;
}
.header .header-menu {
  position: relative;
  top: 35px;
  font-size: 0.9rem;
  text-shadow: 1px 1px 1px #5a5a5a;
  letter-spacing: 2px;
}
.header .header-menu .header-menu-item {
  float: right;
  display: inline-block;
}
.header .header-menu .header-menu-item a {
  margin: 0 10px;
  color: white;
  font-weight: bold;
}

.session-error-message {
  font-size: 1rem;
  background-color: rgba(220, 20, 60, 0.864);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 15px;
  color: white;
  position: fixed;
}

.session-success-message {
  font-size: 1rem;
  background-color: #09bd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 15px;
  color: white;
  position: fixed;
}

.st-sidebar {
  width: 350px;
  height: 100%;
  border-right: 1px solid rgba(90, 90, 90, 0.152);
  background-color: white;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  color: #42302a;
}
.st-sidebar .st-events {
  padding: 42px 0;
  display: inline-flex;
}
.st-sidebar .st-events .st-event-item {
  width: 30%;
  margin: auto;
  text-align: center;
}
.st-sidebar .st-events .st-event-item-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.st-sidebar .st-events .st-event-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu {
  height: 50px;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu a {
  display: block;
  color: #42302a;
  text-shadow: 1px 1px 1px rgba(102, 102, 102, 0.391);
  text-decoration: none;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu a .st-side-menu-item {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu a .st-side-menu-item .st-side-menu-icon {
  line-height: 50px;
  width: 15%;
  display: inline;
  font-size: 20px;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu a .st-side-menu-item .st-side-menu-title {
  font-size: 1rem;
  line-height: 50px;
  width: 85%;
}
.st-sidebar .st-side-menu-box .st-side-sub-menu a:hover {
  font-size: 1.1rem;
  background-color: #42302a;
  color: white;
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.405);
}

.tc-sidebar {
  width: 350px;
  border-right: 1px solid rgba(255, 255, 255, 0.439);
  background-color: #004361;
  color: white;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
}
.tc-sidebar a {
  color: white;
  text-decoration: none;
}
.tc-sidebar .tc-events {
  padding: 42px 0;
  text-align: center;
}
.tc-sidebar .tc-events .tc-event-item {
  width: 35%;
  margin: auto;
}
.tc-sidebar .tc-events .tc-event-item-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.tc-sidebar .tc-events .tc-event-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu {
  height: 50px;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu a {
  display: block;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu a .tc-side-menu-item {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu a .tc-side-menu-item .tc-side-menu-icon {
  line-height: 50px;
  width: 15%;
  display: inline;
  font-size: 20px;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu a .tc-side-menu-item .tc-side-menu-title {
  font-size: 1rem;
  margin-left: 10px;
  line-height: 50px;
  width: 85%;
}
.tc-sidebar .tc-side-menu-box .tc-side-sub-menu a:hover {
  font-size: 1.1rem;
  background-color: #ffffff2a;
}

.fc-daygrid-day-number {
  margin: 0 auto;
}

.calender-btn-box {
  margin-bottom: 40px;
  text-align: center;
}

.auth-logo {
  margin: 110px 0 15px;
  text-align: center;
}
.auth-logo img {
  display: block;
  margin: 0 auto;
  width: 120px;
}
.auth-logo span {
  display: block;
  margin-top: 3px;
  font-family: "Fredoka One", cursive;
  color: #23ACE4;
  text-shadow: 1px 1px 3px rgba(124, 124, 124, 0.186);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.auth-container {
  text-align: center;
  color: white;
  width: 35%;
  background-color: #23ACE4;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.549);
}
.auth-container .auth-top {
  padding-top: 30px;
  margin-bottom: 20px;
}
.auth-container .auth-top .auth-top-title {
  font-weight: bold;
  font-size: 1.7rem;
  text-shadow: 1px 1px 3px rgba(124, 124, 124, 0.802);
}
.auth-container .auth-top span {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.auth-container .auth-form .auth-login-input {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  color: #3a2d2d;
  outline: none;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.549);
}
.auth-container .auth-form .auth-login-input:focus {
  box-shadow: 0 0 5px white;
}
.auth-container .auth-form .auth-submit-btn {
  padding: 7px;
  width: 120px;
  border-radius: 20px;
  color: rgba(75, 75, 75, 0.604);
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin: 20px 0 30px;
  border: 1px solid rgba(31, 31, 31, 0.433);
}
.auth-container .auth-form .auth-submit-btn:active {
  outline: none;
  border: none;
  background-color: crimson;
}

.st-index {
  margin-top: 70px;
  margin-left: 350px;
  width: calc(100vw - 350px);
}

.st-title-top {
  color: #493832;
  text-align: center;
  margin-top: 110px;
}
.st-title-top .st-title-txt {
  font-size: 25px;
  font-weight: bold;
}
.st-title-top .st-title-txt span {
  font-size: 1rem;
}
.st-title-top .st-title-date {
  margin-top: 7px;
  font-size: 35px;
}
.st-title-top .st-sub-title-text {
  margin-top: 20px;
  font-size: 2rem;
}
.st-title-top .st-sub-title-text span {
  font-size: 1.1rem;
}

.st-calendar {
  height: 200px;
  padding-top: 20px;
  box-shadow: 0 0 8px gray;
  width: 60%;
  font-weight: bold;
  margin-bottom: 40px;
}

.st-top-lesson-container {
  margin: 0 auto;
  width: 85%;
  color: #493832;
}
.st-top-lesson-container .st-top-shadow {
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
}
.st-top-lesson-container .st-top-lesson-title {
  background-color: #23ACE4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 50px;
  padding: 12px 0;
  color: white;
  display: flex;
  justify-content: space-between;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub {
  display: flex;
  margin-top: 7px;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-date {
  margin-left: 25px;
  font-size: 1.4rem;
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-category {
  margin-left: 15px;
  display: flex;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-category i {
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin-top: 5px;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-category span {
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-category .st-top-lesson-time {
  margin-left: 3px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 6px;
}
.st-top-lesson-container .st-top-lesson-title .st-top-lesson-title-sub .st-top-lesson-category .st-top-lesson-tc {
  margin-left: 6px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 6px;
}
.st-top-lesson-container .st-top-lesson-title .st-top-transfer-button {
  margin-right: 30px;
}
.st-top-lesson-container .st-top-lesson-title .st-top-transfer-button .transfer-ok {
  font-size: 0.7rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.405);
}
.st-top-lesson-container .st-top-lesson-title .st-top-transfer-button .transfered {
  color: #212529;
  font-size: 0.7rem;
  border: 1px solid #212529;
}
.st-top-lesson-container .st-top-lesson-main {
  background-color: white;
  border: 1px solid #23ACE4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 5px;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category {
  margin-bottom: 30px;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-top-sub-title-box {
  display: flex;
  color: #23ACE4;
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-top-sub-title-box i {
  margin-right: 4px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-top-sub-title-box .st-top-sub-title {
  font-size: 0.8rem;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category span {
  font-size: 0.7rem;
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-top-sub-contents {
  font-size: 1.2rem;
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-target-lesson-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .first {
  margin-top: 3px;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-target-lesson-sub-title {
  font-weight: bold;
}
.st-top-lesson-container .st-top-lesson-main .st-top-lesson-mem-box .st-top-lesson-mem-category .st-target-lesson-sub-content {
  margin-top: 5px;
}

.st-top-month-btn-box {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
.st-top-month-btn-box .btn-circle {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #23ACE4;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: solid 2px #23ACE4;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}
.st-top-month-btn-box .month-btn-active {
  background: #23ACE4;
  color: white;
}

.st-calendar {
  background-color: white;
  height: auto;
  max-width: 960px;
  margin: 10px auto 10px;
}

.tc-calendar-edit-list {
  width: 80%;
  margin: 40px auto 10px;
  border: 1px solid #767676;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tc-calendar-edit-list .tc-calendar-edit-header {
  background-color: #004361;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tc-calendar-edit-list .tc-date-item-box {
  display: flex;
  background-color: white;
  border-top: 1px solid rgba(80, 80, 80, 0.5);
  height: 50px;
  line-height: 50px;
}
.tc-calendar-edit-list .tc-date-item-box .tc-date-title {
  width: 15%;
  text-align: center;
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
}
.tc-calendar-edit-list .tc-date-item-box .tc-date-form {
  width: 85%;
  display: flex;
  justify-content: space-around;
}
.tc-calendar-edit-list .yattaze {
  background-color: #1d678a;
  color: white;
  border-top: 1px solid rgba(143, 143, 143, 0.645);
}

.tc-date-submit {
  text-align: center;
  margin-bottom: 40px;
}
.tc-date-submit .tc-date-btn {
  width: 20%;
  letter-spacing: 4px;
}

.compare-box .compare-title {
  text-align: center;
  margin-top: 60px;
}
.compare-box .compare-title p {
  color: crimson;
  font-weight: bold;
  font-size: 1.2rem;
}
.compare-box .st-top-lesson-title {
  margin-top: 10px;
}
.compare-box .st-compare-back-btn {
  margin-top: 10px;
}

.tc-index {
  color: #004361;
  margin-top: 70px;
  margin-left: 350px;
  width: 75%;
  width: calc(100vw - 350px);
}

.tc-title-top {
  text-align: center;
  margin-top: 110px;
}
.tc-title-top .tc-title-txt {
  font-size: 25px;
  font-weight: bold;
}
.tc-title-top .tc-title-txt span {
  font-size: 1.2rem;
}
.tc-title-top .tc-title-date {
  margin-top: 7px;
  font-size: 35px;
}

.tc-student-box {
  width: 96%;
  margin: 0 auto;
}
.tc-student-box .tc-student-search {
  margin-top: 20px;
}
.tc-student-box .tc-student-search .tc-student-search-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  background-color: #004361;
  color: white;
  margin-top: 50px;
  padding: 12px 0;
  text-align: center;
}
.tc-student-box .tc-student-search .tc-student-search-main {
  background-color: white;
  border: 1px solid #0042612f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-sub {
  display: flex;
  justify-content: space-between;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-sub .tc-student-search-form {
  width: 48%;
  font-size: 0.8rem;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-sub .tc-student-search-form input {
  width: 100%;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-sub .tc-student-search-form select {
  width: 100%;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-button {
  margin-top: 20px;
  text-align: center;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-button .search-btn {
  letter-spacing: 3px;
  width: 25%;
  font-size: 0.9rem;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content .tc-student-search-button .cross-btn {
  letter-spacing: 1px;
  width: 25%;
  font-size: 0.9rem;
}
.tc-student-box .tc-student-search .tc-student-search-main .tc-student-search-content p {
  font-size: 0.8rem;
  margin: 10px 0 3px;
}
.tc-student-box .tc-student-list {
  margin-top: 50px;
}
.tc-student-box .tc-student-list .table-box {
  width: 100%;
  box-shadow: 0 0 15px -6px #00000073;
}
.tc-student-box .tc-student-list .table-box tr {
  background-color: #fff;
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color: #3a3a3a;
}
.tc-student-box .tc-student-list .table-box th, .tc-student-box .tc-student-list .table-box td {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.tc-student-box .tc-student-list .table-box th {
  width: 20%;
  padding: 10px 0;
  padding: 15px;
  background-color: #004361;
  color: #fff;
}

.tc-prof-box {
  width: 90%;
  margin: 50px auto 0;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #00426185;
  padding: 30px 0;
}
.tc-prof-box .tc-prof-table {
  width: 90%;
  margin: 0 auto;
}
.tc-prof-box .tc-prof-content {
  font-size: 1.2rem;
  width: 90%;
  margin: 20px auto;
  border-bottom: 1.5px solid #00426185;
  display: flex;
  padding-bottom: 3px;
}
.tc-prof-box .tc-prof-content p {
  display: inline-block;
}
.tc-prof-box .tc-prof-content .tc-prof-item-title {
  width: 30%;
}
.tc-prof-box .tc-prof-content .tc-prof-item-center {
  width: 10%;
}
.tc-prof-box .tc-prof-content .tc-prof-item {
  width: 60%;
}

.tc-top-lesson-container {
  margin: 0 auto;
  width: 85%;
}
.tc-top-lesson-container .tc-top-lesson-title {
  background-color: #004361;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 50px;
  padding: 12px 0;
  color: white;
  display: flex;
}
.tc-top-lesson-container .tc-top-lesson-title .tc-top-lesson-grade {
  margin-left: 25px;
  font-size: 1.4rem;
  font-weight: bold;
}
.tc-top-lesson-container .tc-top-lesson-title .tc-top-lesson-category {
  margin-left: 15px;
  display: flex;
}
.tc-top-lesson-container .tc-top-lesson-title .tc-top-lesson-category i {
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin-top: 5px;
}
.tc-top-lesson-container .tc-top-lesson-title .tc-top-lesson-category .tc-top-lesson-time {
  margin-left: 3px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 6px;
}
.tc-top-lesson-container .tc-top-lesson-title .tc-top-lesson-category .tc-top-lesson-tc {
  margin-left: 6px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 6px;
}
.tc-top-lesson-container .tc-top-lesson-main {
  background-color: white;
  border: 1px solid #004361;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 30px;
}
.tc-top-lesson-container .tc-top-lesson-main .tc-top-lesson-mem-box {
  width: 97%;
  margin: 0 auto;
  padding: 20px 0 5px;
  border-bottom: 1px solid #00426154;
  display: flex;
}
.tc-top-lesson-container .tc-top-lesson-main .tc-top-lesson-mem-box .tc-top-lesson-mem-num {
  margin-left: 3px;
}
.tc-top-lesson-container .tc-top-lesson-main .tc-top-lesson-mem-box .tc-top-lesson-membox {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tc-top-lesson-container .tc-top-lesson-main .tc-top-lesson-mem-box .tc-top-lesson-membox p {
  width: 16.2%;
}
.tc-top-lesson-container .tc-top-lesson-mem-emp {
  text-align: center;
}
.tc-top-lesson-container .tc-top-lesson-mem-emp p {
  margin-top: 30px;
  font-size: 1.2rem;
}

.tc-stadd-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}
.tc-stadd-container .tc-stadd-form-box {
  display: flex;
  justify-content: space-between;
}
.tc-stadd-container .tc-stadd-form-box .tc-stadd-form-name {
  width: 48%;
}
.tc-stadd-container .tc-stadd-form-box .tc-stadd-form-name p {
  margin-bottom: 3px;
}
.tc-stadd-container .tc-stadd-form-box .tc-stadd-form-name input {
  width: 100%;
}
.tc-stadd-container .tc-stadd-form-mainbox {
  margin-top: 20px;
}
.tc-stadd-container .tc-stadd-form-mainbox p {
  margin-bottom: 3px;
}
.tc-stadd-container .tc-stadd-form-mainbox input {
  width: 100%;
}
.tc-stadd-container .tc-stadd-form-btn {
  text-align: center;
}
.tc-stadd-container .tc-stadd-form-btn button {
  margin-top: 20px;
  width: 50%;
}

.st-transfer {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}
.st-transfer .st-top-lesson-container {
  width: 100%;
}
.st-transfer .st-top-lesson-container .st-top-lesson-title {
  margin-top: 5px;
}
.st-transfer .st-top-lesson-container button {
  display: block;
  margin: 10px auto 0px;
  width: 30%;
  letter-spacing: 1.5px;
}

.st-top-lesson {
  margin-bottom: 100px;
}
