@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #E9FBFC;
  font-family: "M PLUS 1p";
  height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header-top {
  height: 70px;
  background-color: #23ACE4;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(118, 118, 118, 0.439);
}

.admin-header-top {
  height: 70px;
  background-color: #004361;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.439);
}

.header {
  width: 95%;
  margin: 0 auto;
  color: white;
}
.header .header-container {
  font-family: "Fredoka One", cursive;
  position: absolute;
  top: 20px;
  float: left;
}
.header .header-container .header-logo {
  font-size: 2rem;
  text-shadow: 1px 1px 3px #3d3d3d;
  letter-spacing: 0.5px;
}
.header .header-menu {
  position: relative;
  top: 35px;
  font-size: 0.9rem;
  text-shadow: 1px 1px 1px #5a5a5a;
  letter-spacing: 2px;
}
.header .header-menu .header-menu-item {
  float: right;
  display: inline-block;
}
.header .header-menu .header-menu-item a {
  margin: 0 10px;
  color: white;
  font-weight: bold;
}

.session-error-message {
  font-size: 1rem;
  background-color: rgba(220, 20, 60, 0.864);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 15px;
  color: white;
  position: fixed;
}

.session-success-message {
  font-size: 1rem;
  background-color: #09bd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 15px;
  color: white;
  position: fixed;
}

.st-sidebar {
  width: 25%;
  height: 100%;
  border-right: 1px solid rgba(90, 90, 90, 0.152);
  background-color: white;
}
.st-sidebar .st-events {
  padding: 42px 0;
  display: inline-flex;
  border-bottom: 1px solid rgba(90, 90, 90, 0.152);
}
.st-sidebar .st-events .st-event-item {
  width: 30%;
  margin: auto;
  text-align: center;
}
.st-sidebar .st-events .st-event-item-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.st-sidebar .st-events .st-event-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.st-sidebar .st-side-menu-box .st-side-menu {
  margin: 0 auto;
}
.st-sidebar .st-side-menu-box .st-side-menu .st-side-menu-li {
  border-bottom: 1px solid rgba(90, 90, 90, 0.152);
  line-height: 50px;
  cursor: pointer;
}
.st-sidebar .st-side-menu-box .st-side-menu .st-side-menu-li:hover {
  background-color: aquamarine;
}
.st-sidebar .st-side-menu-box .st-side-menu .st-side-menu-li .st-side-menu-item {
  width: 88%;
  float: right;
  margin: 0 auto;
  font-size: 0.85rem;
}

.tc-sidebar {
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.439);
  background-color: #004361;
  color: white;
  height: calc(100vh - 70px);
  position: fixed;
}
.tc-sidebar a {
  color: white;
}
.tc-sidebar .tc-events {
  padding: 42px 0;
  display: inline-flex;
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.439);
}
.tc-sidebar .tc-events .tc-event-item {
  width: 30%;
  margin: auto;
  text-align: center;
}
.tc-sidebar .tc-events .tc-event-item-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.tc-sidebar .tc-events .tc-event-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.tc-sidebar .tc-side-menu-box .tc-side-menu {
  margin: 0 auto;
}
.tc-sidebar .tc-side-menu-box .tc-side-menu .tc-side-menu-li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.439);
  line-height: 50px;
  cursor: pointer;
}
.tc-sidebar .tc-side-menu-box .tc-side-menu .tc-side-menu-li:hover {
  background-color: aquamarine;
}
.tc-sidebar .tc-side-menu-box .tc-side-menu .tc-side-menu-li .tc-side-menu-item {
  width: 88%;
  float: right;
  margin: 0 auto;
  font-size: 0.85rem;
}

.auth-logo {
  margin: 40px 0 15px;
  text-align: center;
}
.auth-logo img {
  display: block;
  margin: 0 auto;
  width: 120px;
}
.auth-logo span {
  display: block;
  margin-top: 3px;
  font-family: "Fredoka One", cursive;
  color: #23ACE4;
  text-shadow: 1px 1px 3px rgba(124, 124, 124, 0.186);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.auth-container {
  text-align: center;
  color: white;
  width: 35%;
  background-color: #23ACE4;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.549);
}
.auth-container .auth-top {
  padding-top: 30px;
  margin-bottom: 20px;
}
.auth-container .auth-top .auth-top-title {
  font-weight: bold;
  font-size: 1.7rem;
  text-shadow: 1px 1px 3px rgba(124, 124, 124, 0.802);
}
.auth-container .auth-top span {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.auth-container .auth-form .auth-login-input {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  color: #3a2d2d;
  outline: none;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.549);
}
.auth-container .auth-form .auth-login-input:focus {
  box-shadow: 0 0 5px white;
}
.auth-container .auth-form .auth-submit-btn {
  padding: 7px;
  width: 120px;
  border-radius: 20px;
  color: rgba(75, 75, 75, 0.604);
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin: 20px 0 30px;
  border: 1px solid rgba(31, 31, 31, 0.433);
}
.auth-container .auth-form .auth-submit-btn:active {
  outline: none;
  border: none;
  background-color: crimson;
}

.st-index {
  display: flex;
  height: 100%;
}

.st-calendar {
  height: 200px;
  outline: 1px solid rgba(0, 0, 0, 0.508);
  width: 80%;
}

.st-calendar {
  background-color: white;
  height: auto;
  width: 90%;
  max-width: 960px;
}

.tc-index {
  color: #004361;
  display: flex;
}

.tc-main {
  width: 80%;
}

.tc-title-top {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  height: 55px;
  background-color: #004361;
  vertical-align: center;
  display: flex;
  /* 縦方向中央揃え（Safari用） */
  align-items: center;
  /* 縦方向中央揃え */
  /* 横方向中央揃え（Safari用） */
  justify-content: center;
  /* 横方向中央揃え */
}
.tc-title-top p {
  color: white;
  padding: 5px 22px;
  border-top: double 3px white;
  border-bottom: double 3px white;
}
.tc-title-top p span {
  text-shadow: 1px 1px 1px white;
}

.tc-box {
  width: 96%;
  margin: 0 auto;
}
.tc-box .tc-student-search {
  margin-top: 20px;
}
.tc-box .tc-student-search .tc-student-search-title {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  padding: 20px 25px;
  background-color: #004361;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tc-box .tc-student-search .tc-student-search-main {
  background-color: white;
  border: 1px solid #0042612f;
}
.tc-box .tc-student-list {
  margin-top: 50px;
}
.tc-box .tc-student-list .table-box {
  width: 100%;
  box-shadow: 0 0 15px -6px #00000073;
}
.tc-box .tc-student-list .table-box tr {
  background-color: #fff;
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color: #3a3a3a;
}
.tc-box .tc-student-list .table-box th, .tc-box .tc-student-list .table-box td {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.tc-box .tc-student-list .table-box th {
  width: 20%;
  padding: 10px 0;
  padding: 15px;
  background-color: #004361;
  color: #fff;
}

.tc-prof-box {
  width: 90%;
  margin: 50px auto 0;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #00426185;
  padding: 30px 0;
}
.tc-prof-box .tc-prof-table {
  width: 90%;
  margin: 0 auto;
}
.tc-prof-box .tc-prof-content {
  font-size: 1.2rem;
  width: 90%;
  margin: 20px auto;
  border-bottom: 1.5px solid #00426185;
  display: flex;
  padding-bottom: 3px;
}
.tc-prof-box .tc-prof-content p {
  display: inline-block;
}
.tc-prof-box .tc-prof-content .tc-prof-item-title {
  width: 30%;
}
.tc-prof-box .tc-prof-content .tc-prof-item-center {
  width: 10%;
}
.tc-prof-box .tc-prof-content .tc-prof-item {
  width: 60%;
}
