.session-error-message{
	font-size: 1rem;
	background-color: rgba(220, 20, 60, 0.864);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 12px 15px;
	color: white;
	position: fixed;
}