.session-error-message{
	font-size: 1rem;
	font-weight: bold;
	background-color: rgba(220, 20, 60, 0.864);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 12px 15px;
	color: white;
	width: 20%;
	text-align: center;
	position: fixed;
	top: 70px;
}

.session-success-message{
	font-size: 1rem;
	background-color: rgb(9, 189, 105);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 12px 15px;
	color: white;
	z-index: 100;
	position: fixed;
	top: 70px;
}