
.st-sidebar{
	width: 350px;
	height: 100%;
	border-right: 1px solid rgba(90, 90, 90, 0.152);
	background-color: white;
	height: calc(100vh - 70px);
	position: fixed;
	top: 70px;
	color: #42302a;

	// 種目別の情報
	.st-events{
		padding: 42px 0;
		display: inline-flex;
		border-bottom: 1px solid rgba(90, 90, 90, 0.152);

		.st-event-item{
			width: 30%;
			margin: auto;
			text-align: center;
		}

		.st-event-item-img{
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		}

		.st-event-name{
			font-size: 0.8rem;
			font-weight: bold;
		}
	}

	// サイドメニュー
	.st-side-menu-box{

		.st-side-sub-menu{
			height: 50px;
			a{
				display: block;

				.st-side-menu-item{

					width: 60%;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;

					.st-side-menu-icon{
						line-height: 50px;
						width: 15%;
						display: inline;
						font-size: 20px;

					}

					.st-side-menu-title{
						font-size: 1.0rem;
						line-height: 50px;
						width: 85%;
					}
				}

				&:hover{
					font-size: 1.1rem;
					background-color: #ffffff2a;
				}
			}
		}
	}
}