.tc-sidebar{
	a{
		color: white;
	}

	width: 350px;
	border-right: 1px solid rgba(255, 255, 255, 0.439);
	background-color: #004361;
	color: white;
	height: calc(100vh - 70px);
	position: fixed;
	top: 70px;

	// 種目別の情報
	.tc-events{
		padding: 42px 0;
		text-align: center;

		.tc-event-item{
			width: 35%;
			margin: auto;
		}

		.tc-event-item-img{
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		}

		.tc-event-name{
			font-size: 0.8rem;
			font-weight: bold;
		}
	}

	.tc-side-menu-box{

		.tc-side-sub-menu{
			height: 50px;
			a{
				display: block;

				.tc-side-menu-item{

					width: 60%;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;

					.tc-side-menu-icon{
						line-height: 50px;
						width: 15%;
						display: inline;
						font-size: 20px;

					}

					.tc-side-menu-title{
						font-size: 1.0rem;
						line-height: 50px;
						width: 85%;
					}
				}

				&:hover{
					font-size: 1.1rem;
					background-color: #ffffff2a;
				}
			}
		}

	}
}