.tc-index{
	color: #004361;
	margin-top: 70px;
	margin-left: 350px;
	width: 75%;
	width: calc(100vw - 350px);
	margin-bottom: 100px;
}

.tc-title-top{
	text-align: center;
	margin-top: 110px;

	.tc-title-txt{
		font-size: 25px;
		font-weight: bold;

		span{
			font-size: 1.2rem;
		}
	}

	.tc-title-date{
		margin-top: 7px;
		font-size: 35px;
	}
}

