.st-index{
	margin-top: 70px;
	margin-left: 350px;
	width: calc(100vw - 350px);
}

.st-title-top{
	color: #493832;
	text-align: center;
	margin-top: 110px;

	.st-title-txt{
		font-size: 25px;
		font-weight: bold;

		span{
			font-size: 1.0rem;
		}
	}

	.st-title-date{
		margin-top: 7px;
		font-size: 35px;
	}

	.st-sub-title-text{
		margin-top: 20px;
		font-size: 2.0rem;

		span{
			font-size: 1.1rem;
		}

	}
}


.st-calendar{
	height: 200px;
	padding-top: 20px;
	box-shadow: 0 0 8px gray;
	width: 60%;
	font-weight: bold;
	margin-bottom: 40px;
}

