.st-index{
	margin-top: 70px;
	margin-left: 350px;
	width: 75%;
	width: calc(100vw - 350px);
}

.st-title-top{
	color: #493832;
	text-align: center;
	margin-top: 110px;

	.st-title-txt{
		font-size: 25px;
		font-weight: bold;
	}

	.st-title-date{
		margin-top: 7px;
		font-size: 35px;
	}

	.st-sub-title-text{
		margin-top: 40px;
		font-size: 2.0rem;

		span{
			font-size: 1.1rem;
		}

	}
}


.st-calendar{
	height: 200px;
	outline: 1px solid rgba(0, 0, 0, 0.508);
	width: 80%;
	font-weight: bold;
}

