.st-top-lesson-container{
	margin: 0 auto;
	width: 85%;
	color: #493832;

	.st-top-lesson-title{
		background-color: #23ACE4;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: 50px;
		padding: 12px 0;
		color: white;
		display: flex;
		justify-content: space-between;

		.st-top-lesson-title-sub{
			display: flex;
			margin-top: 7px;

			.st-top-lesson-date{
				margin-left: 25px;
				font-size: 1.4rem;
				font-weight: bold;
			}

			.st-top-lesson-category{
				margin-left: 15px;
				display: flex;

				i{
					line-height: 1.2rem;
					font-size: 0.9rem;
					margin-top: 5px;
				}

				span{
					font-weight: bold;
				}

				.st-top-lesson-time{
					margin-left: 3px;
					font-size: 0.9rem;
					line-height: 1.2rem;
					margin-top: 6px;
				}

				.st-top-lesson-tc{
					margin-left: 6px;
					font-size: 0.9rem;
					line-height: 1.2rem;
					margin-top: 6px;
				}

			}
		}

		.st-top-transfer-button{
			margin-right: 30px;

			a{
				font-size: 0.7rem;
				color: white;
				border: 1px solid rgba(255, 255, 255, 0.405);
			}
		}
	}

	.st-top-lesson-main{
		background-color: white;
		border: 1px solid #23ACE4;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		.st-top-lesson-mem-box{
			width: 90%;
			margin: 0 auto;
			padding: 20px 0 5px;

			.st-top-lesson-mem-category{
				margin-bottom: 30px;

				.st-top-sub-title-box{
					display: flex;
					color: #23ACE4;
					// color: rgba(107, 107, 107, 0.85);
					i{
						margin-right: 4px;
						margin-bottom: 5px;
						font-size: 0.8rem;
					}

					.st-top-sub-title{
						font-size: 0.8rem;
					}

				}

				span{
					font-size: 0.7rem;
					font-weight: bold;
				}

				.st-top-sub-contents{
					font-size: 1.2rem;

				}
			}
		}
	}
}