.st-top-lesson-container{
	margin: 0 auto;
	width: 85%;
	color: #493832;

	.st-top-shadow{
		box-shadow: 0 0 8px gray;
		border-radius: 10px;
	}

	.st-top-lesson-title{
		background-color: #23ACE4;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: 50px;
		padding: 12px 0;
		color: white;
		display: flex;
		justify-content: space-between;

		.st-top-lesson-title-sub{
			display: flex;
			margin-top: 7px;

			.st-top-lesson-date{
				margin-left: 25px;
				font-size: 1.4rem;
				font-weight: bold;
			}

			.st-top-lesson-category{
				margin-left: 15px;
				display: flex;

				i{
					line-height: 1.2rem;
					font-size: 0.9rem;
					margin-top: 5px;
				}

				span{
					font-weight: bold;
				}

				.st-top-lesson-time{
					margin-left: 3px;
					font-size: 0.9rem;
					line-height: 1.2rem;
					margin-top: 6px;
				}

				.st-top-lesson-tc{
					margin-left: 6px;
					font-size: 0.9rem;
					line-height: 1.2rem;
					margin-top: 6px;
				}

			}
		}

		.st-top-transfer-button{
			margin-right: 30px;

			.transfer-ok{
				font-size: 0.7rem;
				color: white;
				border: 1px solid rgba(255, 255, 255, 0.405);
			}

			.transfered{
				color: #212529;
				font-size: 0.7rem;
				border: 1px solid #212529;
			}
		}
	}

	.st-top-lesson-main{
		background-color: white;
		border: 1px solid #23ACE4;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		.st-top-lesson-mem-box{
			width: 90%;
			margin: 0 auto;
			padding: 20px 0 5px;

			.st-top-lesson-mem-category{
				margin-bottom: 30px;

				.st-top-sub-title-box{
					display: flex;
					color: #23ACE4;
					// color: rgba(107, 107, 107, 0.85);
					i{
						margin-right: 4px;
						margin-bottom: 5px;
						font-size: 0.8rem;
					}

					.st-top-sub-title{
						font-size: 0.8rem;
					}

				}

				span{
					font-size: 0.7rem;
					font-weight: bold;
				}

				.st-top-sub-contents{
					font-size: 1.2rem;

				}
			}
		}
	}

}

.st-top-month-btn-box{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;

	.btn-circle {
		display: inline-block;
		font-size: 1.0rem;
		text-decoration: none;
		color: #23ACE4;
		width: 70px;
		height: 70px;
		line-height: 70px;
		border-radius: 50%;
		border: solid 2px #23ACE4;
		text-align: center;
		overflow: hidden;
		font-weight: bold;
		text-decoration: none;
	  }

	  .month-btn-active{
		background: #23ACE4;
		color: white;
	  }
}
